#main {
    display: flex;
    flex-direction: row;
    background-color: black;
    margin: 0px;
    width: 1180px;
    margin: auto;
}

#sidebar {
    position: sticky;
  background-color: black;
    height:650px ;
  width: 10px;
flex-grow: 1;
border: 0.3px solid gray;

}

#middlebar {
    
    width: 120px;
    height: 650px;
    overflow: scroll;
flex-grow: 12;
} 

#endbar{
    position: sticky;
    flex-grow: 6;
    border: 0.1px solid gray;
    height: 650px;
    width: 90px;
}

.icon{
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 15px;
    padding: 6px;
}
.icon:hover{
    background-color: rgb(36, 35, 35);
    border-radius: 2px;
}

.iconn:hover {
    width: 28px;
    height: 28px;
}

.iconn{
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 18px;
}

#icon1{
    text-align: center;
    width: 70px;
    height: 80px;
    margin-left: 0px;
    margin-right: 0px;

}

#icon1:hover {
    width: 70px;
    height: 75px; 
} 

.ico{
    text-align: center;
    width: 58px;
    height: 58px;
    margin: 18px;
    border: 3px solid rgb(205, 21, 52);
    border-radius: 50px;
    margin-left: 16px;
    
}

#go{
    background-color: black;
    white-space: nowrap;
    overflow: scroll;
    position: sticky;
   
   
}

#rel {
    float: right;
    color: white;
    position: relative;
    top: 80px;
    right: 650px; 
    
}
#ael {
    float: right;
    color: white;
    position: relative;
    top: 80px;
    right: 485px; 
    
}
#bel {
    float: right;
    color: white;
    position: relative;
    top: 80px;
    right: 320px; 
    
}
#cel {
    float: right;
    color: white;
    position: relative;
    top: 80px;
    right: 160px; 
    
}

#pel {
    float: left;
    color: white;
    position: relative;
    bottom: 22px ;
    left: 430px; 
    
}
#del {
    float: left;
    color: white;
    position: relative;
    bottom: 22px ;
    left: 470px; 
    
}
#eel {
    float: left;
    color: white;
    position: relative;
    bottom: 22px ;
    left: 510px; 
    
}
#fel {
    float: left;
    color: white;
    position: relative;
    bottom: 22px ;
    left: 550px; 
    
}
#gel {
    float: left;
    color: white;
    position: relative;
    bottom: 22px ;
    left: 590px; 
    
}

.icn{
   float:left;
    width: 30px;
    height: 30px;
    margin: 0px;
    border: 2px solid black;
    border-radius: 50px;
   margin-right: 10px;
}

#scrolltab {
    background-color: black;
    width: 600px;
    height: 900px;
    margin: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

#spann{
color: white;
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
}

#head{
    margin: 40px;
    margin-bottom: 0px;
    padding: 30px;
    
}
#option{
    float: right;
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
}

#vid{
    border: 0.3px solid grey;
    margin: 70px;
    margin-top: 0px;
    border-radius: 3px;
    width: 460px;
    height: 480px;
    margin-bottom: 0px;
}
#under{
   margin-top: 0px;
     width: 28px;
     height: 28px;
     margin-left: 10px;
     margin-bottom: 0px;
     
 }

 #like{
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    border: 2px solid black;
    border-radius: 50px;
    position: relative;
    bottom: 8px;
   
    
}
#save{
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    top: 1px;
    left: 300px;
}

#down{
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    margin: 70px;
   
    position: relative;
    bottom: 60px;
    

    
}

#comments{
    
   
   
    position: relative;
    top: 30px;
    right: 225px;
    width: 800px;
    
    
color: white;
}

input{
    position: relative;
    top:18px;
    left: 70px;
    text-decoration: none;
    width: 400px;
    height: 30px;
    background-color: black;
    border: 0px;
    caret-color: white;
    color: white;
}
input:focus{
    outline: none;
}

#linebreak {
    height: 0.3px;
    background-color: gray;
    margin-left: 65px;
    margin-top: 20px;
    margin-right: 60px;
}

#hash{
    color: lightblue;
}

#view{
    color: grey;
}


::-webkit-scrollbar {
    width: 0px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the last value (alpha) */
  }
  
  #anotherhead{
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 30px; }

    .newicn{
        float:left;
         width: 40px;
         height: 40px;
         margin: 0px;
         margin-right: 15px;
         border-radius: 50px;
       
     }   

     #option1{
        
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 15px;
        left: 70px;
        color: rgb(66, 126, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
    }
    
    #secondhead{
        margin: 10px;
        margin-top: 0px;
        margin-left: 33px;
        margin-bottom: 0px;
        padding: 10px; }

        a{
            text-decoration: none;
            color: white;
        }

        #last {
            text-decoration: none;
            color:rgb(183, 183, 183);
        }

        #last:hover {
            text-decoration: underline;
            
        }

        #seeall{
            color: white;
        }
        #seeall:hover{
          color: grey;
        }


    
@media (max-width: 1000px) {
    #endbar {
        display: none;
    }
    #go{
        display: none;
    }
}

#instaa{
    width: 200px;
    height: 80px;
    text-align: center;
    margin-left: 150px;
   
}

@media (min-width: 1000px) {
    #letsendthis {
        display: none;
    }
}

@media (max-width: 700px) {
    #scrollbar {
        display: none;
    }

#head{
    display: none;
}
#down{display: none;}
#comments{ display: none;}
input{ display: none;}
#linebreak{ display: none;}
#vid{display: none;}
}


#seeall{ 
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

#seeall:hover{
    color: gray;

}